.cardt-text{
    display:flex;
    justify-content: center;
    margin-bottom: 100%;
}

.dia-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sub-titulos-pages{
    width: 100%;
}

.dia-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.dia-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.dia-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.dia-5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.texto_infomativo{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center
}

a{
    text-decoration: none;
}
